@model Data.Form.RetourForm

<form asp-action="Edit" enctype="multipart/form-data" method="post">

    <input asp-for="AvisId" class="form-control " type="hidden" />
    <div class="form-group">
        Nom : <input asp-for="LastName" class="form-control " type="text" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        Prénom : <input asp-for="FirstName" class="form-control" type="text" />
        <span asp-validation-for="FirstName"></span>

    </div>

    <div class="form-group">
        Avis :  <textarea asp-for="Avis" class="form-control" type="text"></textarea>
        <span asp-validation-for="Avis"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="sauvegarder" />
    </div>
</form>
